In [ ]:
## This is a Code cell

## This is a Markdown Cell

### It looks like this after Running

In [ ]:
print("Hello World")

In [1]:
print("Hello World")

Hello World

In [2]:
import time
time.sleep(10)

### Basic Data Types
1) String

In [3]:
word = "python"
word

'python'

In [4]:
var = len(word)      ## len() is a function that returns the length of the variable
print("The length of %s is %s" %(word, var))

The length of python is 6

2) Integer / Float

In [5]:
price = 100
discount = 0.3
result = price * (1 - discount)
result

70.0

3) List [ ]

In [6]:
lab_members = ["Ahmed", "Yuexin", "Janine", "Lin"]
lab_members

['Ahmed', 'Yuexin', 'Janine', 'Lin']

In [7]:
print(lab_members[0])
print(lab_members[1:3])

Ahmed
['Yuexin', 'Janine']

In [9]:
## Use For Loop to iterate through list entries
for i in lab_members:
    print("Hey %s" %i)

Hey Ahmed
Hey Yuexin
Hey Janine
Hey Lin

In [10]:
## Can be combined with conditions
substring = "a"
for member in lab_members:
    if substring in member:
        print("%s has an %s in his name" %(member, substring))
    else:
        print("%s does not" %member)

Ahmed does not
Yuexin does not
Janine has an a in his name
Lin does not

4) Dictionaries { }

In [11]:
## Define Dictionary by {key_1: value_1, key_2: value_2, ...}
surnames = {"Ahmed": "Hassan", "Yuexin": "Chen", "Janine": "Schriering", "Lin": "Yang"}

## Access value by e.g. [key_2]
surnames["Yuexin"]

'Chen'

In [14]:
## use \t in print to generate tab space
for key in surnames.keys():
    print("Key: %s \tValue: %s" %(key, surnames[key]))

Key: Ahmed 	Value: Hassan
Key: Yuexin 	Value: Chen
Key: Janine 	Value: Schriering
Key: Lin 	Value: Yang

5) Functions

In [15]:
## Define the Function
def print_names(input_dict):
    for key in input_dict.keys():
        print("%s %s" %(key, input_dict[key]))
    
## Execute the Function
print_names(surnames)

Ahmed Hassan
Yuexin Chen
Janine Schriering
Lin Yang

### Import Packages

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scanpy as sc

### Read in data tables with library pandas

In [33]:
folder = "Data/"
tab = pd.read_csv(folder + "aged_mice_samples.txt", sep = "\t")
tab

   identifier                     name  batch  age  cells   data_set
0     muc3838       Aging mouse 1 Male  pilot  24m    800  aged_mice
1     muc3839       Aging mouse 2 Male  pilot  24m    500  aged_mice
2     muc3840    Aging PBS Ctrl day 14  pilot   3m    500  aged_mice
3     muc3841  Aging PBS Ctrl 2 day 21  pilot   3m    500  aged_mice
4     muc4166       Aging mouse 3 Male  aging  24m   1000  aged_mice
5     muc4167       Aging mouse 4 Male  aging   4m   1000  aged_mice
6     muc4168     Aging mouse 5 Female  aging  24m   1000  aged_mice
7     muc4169          ctrl PBS day 14  aging   3m   1000  aged_mice
8     muc4170          ctrl PBS day 21  aging   3m   1000  aged_mice
9     muc4172        PBS ctrl day 10_1  aging   3m   1000  aged_mice
10    muc4173        PBS ctrl day 10_2  aging   3m   1000  aged_mice
11    muc4174           Aging 6 Female  aging  24m   1000  aged_mice
12    muc4175           Aging 7 Female  aging  24m   1000  aged_mice

In [40]:
## Get an overview of columns and the data types stored in them
tab.dtypes

identifier    object
name          object
batch         object
age           object
cells          int64
data_set      object
dtype: object

In [34]:
## Get overview of numbers per group in a given column, e.g. age
## you can access the column by its name using .loc[:, "name_of_column"]
tab.loc[:, "age"].value_counts()

24m    6
3m     6
4m     1
Name: age, dtype: int64

In [39]:
## You can also get quick summary statistics for numerical columns
print(tab.loc[:, "cells"].mean())
print(tab.loc[:, "cells"].sum())

869.2307692307693
11300

In [35]:
## You can also access columns by their index using .iloc
tab.iloc[:, [3]]

    age
0   24m
1   24m
2    3m
3    3m
4   24m
5    4m
6   24m
7    3m
8    3m
9    3m
10   3m
11  24m
12  24m

In [36]:
## Same for rows, you can add multiple indexes in the list
tab.iloc[[2, 3, 5, 7]]

  identifier                     name  batch age  cells   data_set
2    muc3840    Aging PBS Ctrl day 14  pilot  3m    500  aged_mice
3    muc3841  Aging PBS Ctrl 2 day 21  pilot  3m    500  aged_mice
5    muc4167       Aging mouse 4 Male  aging  4m   1000  aged_mice
7    muc4169          ctrl PBS day 14  aging  3m   1000  aged_mice

In [37]:
## Or a range with ":", in the example below you see rows 2, 3, 4 and columns 0, 1, 2, 3
tab.iloc[2:6, 0:4]

  identifier                     name  batch  age
2    muc3840    Aging PBS Ctrl day 14  pilot   3m
3    muc3841  Aging PBS Ctrl 2 day 21  pilot   3m
4    muc4166       Aging mouse 3 Male  aging  24m
5    muc4167       Aging mouse 4 Male  aging   4m